.VideoPreviewer {
  border: 1px dashed gray;
  padding: 5px;
  margin: 10px 0;

  &.inline {
    margin: 0;
    
    iframe {
      $aspectRatio: 360 / 640;
      $width: 250px;
      width: $width;
      height: $aspectRatio * $width;
    }
  }
}
